
@using MVC_StokTakipOtomasyonu.ActiveFolder
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <title>deneme</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Index","Ürünler")">Ürünler<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Index","Kategoriler")">Kategoriler</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Index","Markalars")">Markalar<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link"  href="@Url.Action("Index","Birimler")">Birimler<span class="sr-only">(current)</span></a>q
                </li>


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    @RenderBody()
    <div>
    </div>
</body>
</html>
