@model IEnumerable<MVC_StokTakipOtomasyonu.Models.Entity.Markalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Açıklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategoriler.Kategori)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Açıklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoriler.Kategori)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
